body {
  background-color: #fffafa;
}
h1,
h2 {
  background-color: #00bfff;
  text-align: center;
  color: #fffafa;
  padding: 2px;
  border-radius: 15px;
  border: 2px solid #0000ff;
  font-size: 3em;
}
h3 {
  text-align: center;
}
li {
  list-style-type: none;
}
ul > li {
  margin: 6px;
}
button {
  font-size: 2em;
  margin: 2px;
}
.remove-button {
  background-color: black;
}
